---
eleventyNavigation:
   key: Directory
   order: 1
---

<div id="CityDirectoryLeftMargin" style="margin-left: 20px;">
	<span class="DirectoryNormalText">
		<div class="field h-adr">
      	<p aria-level="2" role="heading"><strong>Engineering/Traffic: &nbsp; &nbsp;</strong>&nbsp;<br>404 E Washington St.<br>Brownsville, TX 78520<br>Engineering Phone: <a href="tel:9565411012">(956) 541-1012</a><br>Traffic Phone: <a href="tel:9565476802">(956) 547-6802</a></p>
			<p><strong>Public Works:</strong><br>6035 Jaime J Zapata Ave<br>Brownsville, TX 78521<br>Phone: <a href="tel:9565476573">(956) 547-6573</a></p>
			<br>
      </div>
	</span>
	<div class="pageStyles">
		<table id="cityDirectoryDepartmentDetails_1" summary="City Directory" style="width: 100%; margin: 0px; padding: 0px; ">
			<thead>
				<tr>
					<th scope="col" colspan="5">
						<div style="font-weight: bold;">
							<span style="float: left;">Staff</span>
						</div>
					</th>
				</tr>
				<tr>
					<th scope="col">
						<span style="font-weight: bold;">
						Name
						</span>
					</th>
					<th scope="col">
						<span style="font-weight: bold;">
							Title							
						</span>
					</th>
					<th scope="col">
						<span style="font-weight: bold;">
						Email
						</span>
					</th>
					<th scope="col">
						<span style="font-weight: bold;">
						Phone
						</span>
					</th>
					<th scope="col" style="display:none">
						<span style="font-weight: bold;">
						Additional Phone
						</span>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for person in directory %}
				<tr>
					<td>
						<span>
							{% if person.link %}
							<a href="https://www.brownsvilletx{{link}}">{{person.name.last}}, {{person.name.first}}</a>
							{% else %}
							{{person.name.last}}, {{person.name.first}}
							{% endif %}
						</span>
					</td>
					<td>
						<span>{{person.title}}</span>
					</td>
					<td>
						{% if person.email %}
						<span>
							<a href="mailto:{{person.email}}">Email</a>
						</span>
						{% endif %}
					</td>
					<td>
						<span>{{person.phone}}</span>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<br>
	<div style="margin-left: 1px">
		<a href="https://www.brownsvilletx.gov/Directory.aspx" class="DirectoryLinksText" style="font-weight: bold;">Return to Staff Directory</a>
	</div>
	<br>
	<br>
	<span style="font-family: arial; font-size: 12pt; color: Black;"></span>
</div>